*{
    margin: 0px;
    padding: 0px;
}

.background{
    background-image: url('./Imagini/Imagine_scoala2.jpg'); 
    width: 1920px;
    height: 100vh;
}

.text{
    position: absolute;
    width: 946px;
    height: 135px;
    left: 896px;
    top: 208px;

    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 95px;

    color: #000000;
}

.button{
    position: absolute;
    width: 274px;
    height: 108px;
    left: 1332px;
    top: 343px;

    background: #00D1FF;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.5);
    border-radius: 16px;
}

.textbtn{
    font-style: normal;
    font-size: 50px;
    color: #000000;
    font-family: url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
}
